{% load static %}
<!DOCTYPE Html>
<html>
  <head>
    <title>Portfolio</title>
  </head>
  <body>
    <div id="navbar">
      <ul id="menu-items">
        <li class="menu-item"><a href="{% url "home" %}">Home</a></li>
        <li class="menu-item"><a href="{% url "resume" %}">Resume</a></li>
        <li class="menu-item"><a href="#">Portfolio</a></li>
        <li class="menu-item"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div id="container">
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
