{% extends "base.html" %}

{% block content %}
  <div id="heading"> Projects: </div>
  <div id="projects">
    {% for project in portfolio %}
      <div class="project">
        <div id="pr-name">
          <div id="sub-heading"> Name: </div> <p> {{ project.name }} </p>
        </div>
        <div id="pr-company">
          <div id="sub-heading"> Company: </div> <p> {{ project.name }} </p>
        </div>
        <div id="pr-duration">
          <div id="sub-heading"> duration: </div> <p> {{ project.duration }} </p>
        </div>
        <div id="pr-desc">
          <div id="sub-heading"> Description: </div> <p> {{ project.description }} </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
